.add-edit-form-wrapper {
  position: relative;

  &__close-btn {
    position: absolute;
    top: -56px;
    right: 1px;
  }
}

h2 {
  text-align: center;
}

.add-form {

  max-width: 500px;
  margin: 0 auto;
}
