<h2>
  {{titlesForm?.title}}
</h2>
<div class="add-edit-form-wrapper">
  <form [formGroup]="addTaskForm" (ngSubmit)="onSubmit()" class="add-form">
    <div fxLayout="column">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label> Title
        </mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="addTaskForm.get('name')?.touched && addTaskForm.get('name')?.invalid">
          <span *ngIf="name?.required">This field is required.</span>
          <span *ngIf="name?.minlength">Min length {{name?.minlength?.requiredLength}}.</span>
          <span *ngIf="name?.maxlength">Max length {{name?.maxlength?.requiredLength}}.</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label> Description
        </mat-label>
        <textarea matInput
                  formControlName="description"
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="3"
                  cdkAutosizeMaxRows="5"
                  #autosize="cdkTextareaAutosize">
     </textarea>
        <mat-error *ngIf="addTaskForm.get('description')?.touched && addTaskForm.get('description')?.invalid">
          <span *ngIf="description?.required">This field is required.</span>
          <span *ngIf="description?.minlength">Min length {{description?.minlength?.requiredLength}}.</span>
          <span *ngIf="description?.maxlength">Max length {{description?.maxlength?.requiredLength}}.</span>
        </mat-error>
      </mat-form-field>

      <button [disabled]="addTaskForm.invalid" mat-raised-button color="primary" (click)="closeDialog()"
              type="submit">{{titlesForm?.titleBtn}}</button>
    </div>
  </form>

  <button *ngIf="!isCreate" (click)="closeDialog()" class="add-edit-form-wrapper__close-btn" mat-raised-button
          color="warn"
          type="submit"><span class="material-icons">close</span>
  </button>

</div>

