@import "../../users/users.component";

.distributed-wrapper {

  &__content {
    margin: 0 auto;
  }

  &__list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 40px 0 0;
  }

  &__distributed-wrapper__button {
  }

  &__distributed-wrapper__button--active {
    background-color: blue !important;
  }


  &__item {
    margin: 0 5px 0 5px;
  }
}
