<div class="card-wrapper">
  <div class="card-list">
    <mat-dialog-content class="mat-typography">
      <div *ngFor="let task of (obsTasks | async)" class="card-list__item" #taskLink>
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{task?.name}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{task?.description}}
            </p>
            <div class="card-list__date">
              <p *ngIf="task?.created_at">created {{task?.created_at?.date | date: 'short'}}</p>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" (click)="assing(task.id, taskLink)">Assign a task</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-dialog-content>
    <button color="accent" class="card-wrapper__close" mat-raised-button [mat-dialog-close]="false">Cancel</button>
  </div>

</div>

