.delete-confirm-wrapper {
  position: relative;
  margin-top: 25px;

  &__title {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
  }

  &__key, &__val {
    display: block;
  }

  &__key {
    padding-right: 10px;
  }

  &__delete {
    position: absolute;
    top: -45px;
    right: -20px;
  }

}
