<div class="delete-confirm-wrapper">
  <h3 class="delete-confirm-wrapper__title" mat-dialog-title>
    <span class="delete-confirm-wrapper__key">Want to delete?</span>
    <span class="delete-confirm-wrapper__val">{{userModel?.email}}</span> </h3>
  <div mat-dialog-actions fxLayoutAlign="flex-end">
    <button mat-raised-button tabindex="-1" [mat-dialog-close]="false">Not</button>
    <button mat-raised-button tabindex="-1" [mat-dialog-close]="true" color="warn">Ok</button>
  </div>
  <button class="delete-confirm-wrapper__delete" mat-raised-button
          color="warn" [mat-dialog-close]="false"
          type="submit"><span class="material-icons">close</span>
  </button>
</div>
