<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div fxLayout="column">
    <mat-form-field class="form-field" appearance="outline">
      <mat-label> E-mail
      </mat-label>
      <input matInput formControlName="email"  tabindex="-1">
      <mat-error *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid">
        <span *ngIf="registerForm.get('email')?.errors?.required">This field is required.</span>
        <span *ngIf="registerForm.get('email')?.errors?.pattern">This field is invalid.</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="outline">
      <mat-label> Nickname
      </mat-label>
      <input matInput formControlName="nickname" tabindex="-1">
      <mat-error *ngIf="registerForm.get('nickname')?.touched && registerForm.get('nickname')?.invalid">
        <span *ngIf="nickname?.minlength">Min length {{nickname?.minlength?.requiredLength}}.</span>
        <span *ngIf="nickname?.maxlength">Max length {{nickname?.maxlength?.requiredLength}}.</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="outline">
      <mat-label> Password
      </mat-label>
      <input matInput formControlName="plainPassword" type="password"  tabindex="-1">
      <mat-error
        *ngIf="registerForm.get('plainPassword')?.touched && registerForm.get('plainPassword')?.invalid">
        <span *ngIf="password?.required">This field is required.</span>
        <span *ngIf="password?.minlength">Min length {{password?.minlength?.requiredLength}}.</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label> Confirm password
      </mat-label>
      <input matInput formControlName="confirmPlainPassword" type="password"  tabindex="-1">
      <mat-error
        *ngIf="registerForm.get('confirmPlainPassword')?.touched && registerForm.get('confirmPlainPassword')?.invalid">
        <span *ngIf="confirmPassword?.required">This field is required.</span>
        <span *ngIf="confirmPassword?.minlength">Min length {{confirmPassword?.minlength?.requiredLength}}.</span>
        <span *ngIf="confirmPassword?.notEquivalent">Password mismatch</span>
      </mat-error>
    </mat-form-field>
    <button [disabled]="registerForm.invalid" mat-raised-button color="primary" type="submit">{{titleButton}}</button>
  </div>
</form>
