<div class="user-wrapper distributed-wrapper">
  <div class="distributed-wrapper__content">
    <mat-radio-group class="distributed-wrapper__list" aria-label="Select an option" [formControl]="statusFormControl">
      <ng-container *ngFor="let status of statusList; let statusIndex = index; let first = first">
        <mat-radio-button class="distributed-wrapper__item" [checked]="first"
                          value="{{status?.id}}">{{status?.name}}</mat-radio-button>
      </ng-container>
    </mat-radio-group>
  </div>
  <form [formGroup]="statusForm" class="card-list">
    <div formArrayName="items" *ngFor="let task of startedList; let i = index;" class="card-list__item" #cardItem>
      <mat-card>

        <mat-card-header>
          <mat-card-title>Task:&nbsp;{{task?.task_name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <ul class="characteristics-list">
            <li class="characteristics-list__item"><span>email</span>&nbsp;&nbsp;<span>{{task?.email}}</span></li>
            <li class="characteristics-list__item"><span>nickname</span>&nbsp;&nbsp;<span>{{task?.nickname}}</span>
            </li>
            <li class="characteristics-list__item"><span>status</span>&nbsp;&nbsp;<span>{{task?.status_name}}</span>
            </li>
            <li class="characteristics-list__item">
              <span>description</span>&nbsp;&nbsp;<span>{{task?.description}}</span></li>
          </ul>
          <div class="card-list__date">
            <p *ngIf="task?.created_at">created {{task?.created_at?.date | date: 'short'}}</p>
          </div>
        </mat-card-content>
        <mat-card-actions>

          <mat-form-field appearance="outline" [formGroupName]="i">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status_id">
              <mat-option *ngFor="let status of statusList"
                          [value]="status?.id">{{status?.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <button (click)="onSubmit(i, task?.id)" mat-raised-button color="primary" type="submit">Change status
          </button>

        </mat-card-actions>
      </mat-card>
    </div>
  </form>

</div>
