<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div fxLayout="column">
    <mat-form-field class="form-field" appearance="outline">
      <mat-label> E-mail
      </mat-label>
      <input matInput formControlName="username" required>
          <mat-error *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.invalid">
            <span *ngIf="loginForm.get('username')?.errors?.required">This field is required.</span>
            <span *ngIf="loginForm.get('username')?.errors?.pattern">This field is invalid.</span>
          </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label> Password
      </mat-label>
      <input matInput formControlName="password" type="password" required>
          <mat-error *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
            <span *ngIf="passwordError?.required">This field is required.</span>
            <span *ngIf="passwordError?.minlength">Min length {{passwordError?.minlength?.requiredLength}}.</span>
          </mat-error>
    </mat-form-field>
    <button [disabled]="loginForm.invalid" mat-raised-button color="primary" type="submit">Log In</button>
  </div>
</form>
