<mat-toolbar class="toolbar-container" color="primary">
  <button mat-icon-button (click)="sidenav.toggle()" [ngStyle]="{display: (isAdmin) ? '': 'none'}">
    <mat-icon>menu</mat-icon>
  </button>
  <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between" class="toolbar-container__menu">
    <a class="nav-container__logo" color="primary" [routerLink]="'/'" mat-flat-button>Logo</a>
    <div class="nav-container__list">
      <button mat-button [matMenuTriggerFor]="menu" [ngStyle]="{display: (isAdmin) ? 'none': ''}">
        <span class="material-icons">account_circle</span>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openDialog()">Edit profile</button>
      </mat-menu>
      <button class="nav-container__item" color="primary" mat-flat-button (click)="logout()">
        <span class="material-icons">logout</span>
        sign out
      </button>
    </div>
  </div>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #sidenav [ngStyle]="{display: (isAdmin) ? '': 'none'}">
    <mat-accordion *ngFor="let sid of sidenavData; let i = index">
      <mat-expansion-panel (opened)="panelOpenState[i] = true"
                           (closed)="panelOpenState[i]  = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{sid?.title}} panel
          </mat-panel-title>
          <mat-panel-description>
            {{panelOpenState[i] ? 'open' : 'closed'}}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <ng-container *ngIf="sid.children.length > 0">
          <mat-list-item *ngFor="let sideChild of sid.children" class="sidenav-list__item" tabindex="0"
                         (click)="sidenav.toggle()">
            <a mat-button class="sidenav-list__button" [routerLink]="sideChild?.link">
              <span class="material-icons">{{sideChild?.icon}}</span>
              {{sideChild?.title}}
            </a>
          </mat-list-item>
        </ng-container>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>

  <mat-sidenav-content>
    <main>
      <ng-content>
      </ng-content>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
