<div class="card-wrapper">
  <div class="card-list">
    <div *ngFor="let task of (obsTasks | async)" class="card-list__item" #taskLink>
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{task?.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{task?.description}}
          </p>
          <div class="card-list__date">
            <p *ngIf="task?.created_at">created {{task?.created_at | date: 'short'}}</p>
            <p *ngIf="task?.updated_at">updated {{task?.updated_at | date: 'short'}}</p>
          </div>
        </mat-card-content>
        <mat-card-actions *ngIf="isAdmin">
          <button mat-raised-button color="warn" (click)="deleteTask(task.id, taskLink)">DELETE</button>
          <button mat-raised-button (click)="editTask(task)">EDIT</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>


