.card-wrapper {
  max-width: 1020px;
  margin: 0 auto;
}
.card-list {

  margin: 30px 15px;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  &__item {
    width: 100%;
    max-width: 460px;
    min-width: 200px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media(max-width: 1040px) {
      max-width: 100%;
    }
  }

  &__date {
    font-size: 13px;
    line-height: 1;

    @media(min-width: 420px) {
      position: absolute;
      bottom: 10px;
      right: 10px;
    }

    p {
      padding: 0;
      margin: 0;
      text-transform: lowercase;
    }
  }
}
