.stretched-tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 8px;
}

.auth-container {
  text-align: center;
  height: 100%;
  width: 100%;
}

.auth-wrapper {
  margin-top: 50px;
  display: inline-block;
  max-width: 500px;
  width: 100%;

  &__icon {
    margin-right: 8px;
  }

  &__content {
    margin-top: 15px;
  }
}

