<div class="auth-container">
  <div class="auth-wrapper">
    <mat-tab-group dynamicHeight mat-stretch-tabs class="stretched-tabs mat-elevation-z4 ">
      <mat-tab class="auth-wrapper__item">
        <ng-template mat-tab-label>
          <mat-icon class="auth-wrapper__icon">login</mat-icon>
          SIGN IN
        </ng-template>
        <div class="auth-wrapper__content">
          <app-login></app-login>
        </div>
      </mat-tab>
      <mat-tab class="auth-wrapper__item">
        <ng-template mat-tab-label>
          <mat-icon class="auth-wrapper__icon">app_registration</mat-icon>
          SIGN UP
        </ng-template>
        <div class="auth-wrapper__content">
          <app-register></app-register>
        </div>
      </mat-tab>

    </mat-tab-group>
  </div>
</div>
