.sidenav-container {
  text-transform: uppercase;
  height: calc(100vh - 76px);
  background-color: white;
}
.sidenav-list {

  &__item {
  }

  &__button {
    outline: none;
    padding: 0 40px;
    border-bottom: 1px solid gray;
    border-radius: 0;
    width: 100%;
  }
}
