/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.auth-wrapper {


  .mat-tab-body-wrapper {
    width: 100%;
    max-width: 330px;
  }

  &__content {

    margin-bottom: 15px;
  }

  .mat-tab-body {
    //margin-bottom: 15px;
  }
}
