<div class="user-wrapper">
  <div class="card-list">
    <div *ngFor="let us of (obsUsers | async)" class="card-list__item" #cardItem>
      <mat-card>
        <mat-card-header>
          <mat-card-title>User id #{{us?.id}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <ul class="characteristics-list">
            <li class="characteristics-list__item"><span>email</span>&nbsp;&nbsp;<span>{{us?.email}}</span></li>
            <li class="characteristics-list__item"><span>nickname</span>&nbsp;&nbsp;<span>{{us?.nickname}}</span></li>
          </ul>
          <div class="card-list__date">
            <p *ngIf="us?.createdAt">created {{us?.createdAt | date: 'short'}}</p>
            <p *ngIf="us?.updatedAt">updated {{us?.updatedAt | date: 'short'}}</p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button *ngIf="isAdmin" mat-raised-button color="warn" (click)="deleteUser(us, cardItem)">DELETE</button>
          <button mat-raised-button color="accent" (click)="editUser(us)">EDIT</button>
          <button *ngIf="isAdmin" mat-raised-button color="primary" (click)="addTask(us)">Add task</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

