@import "../tasks/tasks.component";

.user-wrapper {
  max-width: 1020px;
  margin: 0 auto;
}

.characteristics-list {

  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    display: flex;
    flex-wrap: wrap;

    span {
      display: block;
    }

    span:first-child {
      color: #4051b5;
      min-width: 100px;
      font-weight: bold;
    }
  }

}
