<div class="updateConfirm">
  <app-reg-update-form (onChangedUpdate)="onChanged($event)" [isAdminEdit]="isAdminEdit" [regForm]="userModel"></app-reg-update-form>
  <button (click)="dialogRef.close()" class="updateConfirm_close-btn" mat-raised-button
          color="warn"
          type="submit"><span class="material-icons">close</span>
  </button>
</div>


